/* .glassmorphism {
    background: rgba(255, 255, 255, 0.644);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
} */

.custom-bg{
    background-image: url('/public/bg.png');
   }

   .menu{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .menu-item{
    position: absolute;
  }